html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td {
    margin:0;
    padding:0;
}

body {
    -webkit-font-smoothing:antialiased;
    font-family:'Source Sans Pro', 'Open Sans', Lato, sans-serif;
    height:auto;
    width:100%;
}

#hello-world {
    text-align: center;
}